<%- include('includes/head') %> <%- include('includes/navbar') %>
<main class="container">
  <h1>Contatos organizados para facilitar sua vida</h1>
  <h4>
    Não se preocupe com papéis e anotações! Esse app gerenciará tudo para você!
  </h4>
</main>
<%- include('includes/footer') %>
