<%- include('includes/head') %> <%- include('includes/navbar') %>
<main class="container">
  <section id="login-forms">
    <div id="create-user-form" class="form-div">
      <h4>Crie sua conta</h4>
      <form action="/login/register" method="POST" class="form">
        <input type="hidden" name="_csrf" value="<%= csrf %>" />
        <label for="username">Nome</label>
        <input type="text" name="username" />
        <label for="password">Senha</label>
        <input type="password" name="password" />
        <button type="submit">Cadastrar</button>
      </form>
    </div>

    <div id="login-user-form" class="form-div">
      <h4>Entre na sua conta</h4>
      <form action="/login/login" method="POST" class="form">
        <label for="username">Nome</label>
        <input type="text" name="username" />
        <label for="password">Senha</label>
        <input type="password" name="password" />
        <button type="submit">Entrar</button>
      </form>
    </div>
  </section>
</main>
<%- include('includes/footer') %>
